.header {
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
  border-bottom-color:rgb(247, 247, 247);
  border-bottom-width: 2px;
  border-bottom-style:solid;
  display: grid;
  grid-template-rows: auto auto; 
  padding-bottom: 10px;
  margin-bottom: 25px;
  background-color: white;

}

.brand_logo {
text-align: left;
margin-left: 16px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}

#offcanvas_button {
  background-color: white;
  border: none;
  margin-bottom: 20px;
}

.logo:hover {
cursor: pointer;
}



.logo_img {
width: 100px;
height: 100px;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
box-sizing: border-box;

}

#offcanvasRight {
  background-color: rgb(124, 212, 253);
  border-top-left-radius: 60px;
  margin-bottom: 20px;
  width: auto;
  font-family: Roboto, sans-serif;
  font-style: oblique;


  h5 {
    padding-top: 13px;
    padding-right: 25px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 208);
  }
  .offcanvas-header {
    justify-content: end;
  }

}



.side_nav {
  text-align: center;
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 50px;

    a {
      color: beige;
      padding: 5px;
      font-size: 24px;
      font-style:oblique;
      border: 2px ;
      border-radius: 5px;
      border-style: outset;
    }
    
    a:hover {
      background-color: rgb(62, 197, 255);
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
    }
    a:active {
      background-color: rgb(0, 177, 255);
    }

  }
}



.page_option{
padding-top: 15px;
padding-left: 15px;
padding-right: 15px;
display: grid;
grid-template-columns: auto auto auto; 
column-gap: 10px;

}

.page_option_buttton {
background-color: aliceblue;
border-radius: 2px;
border-color: rgb(227, 234, 240);
padding-top:8px;
padding-bottom:8px;

}
.page_option_buttton:hover, .submit_button:hover {
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.page_option_buttton:active , .submit_button:active{
font-size: 24px;
}

.page_option a {
width:auto;
font-family: arial;
font-size: 22px;
padding-top: 18px;
padding-bottom: 18px;
color:rgba(5, 31, 80, 0.747);
text-decoration: none;

}

.item_number label {
display: none;
}

.makeorder_submit_button {
  padding-top: 15px;
  display: grid;
  grid-template-columns: 40%;
  justify-content: center;
}

.submit_button, .order_rank, .input_search {
background-color: aliceblue;
font-family: arial;
font-weight:600;
color:rgba(5, 31, 80, 0.747);
font-size: 22px;
padding: 7px;
border-style: solid;
border-radius: 5px;
border-width: 1px;

border-color: rgba(135, 209, 238, 0.658);

}
.submit_button:hover {
  cursor: pointer;
}

.link_a {
background-color: white;
color: rgba(35, 84, 177, 0.863);
}


.items_container ul li {
  text-align: right;
}



/* general */
body {
padding-left: 2%;
padding-right: 2%;
font-family: arial;
font-weight: bold;
margin-top: 0;
font-family: Roboto, Arial, sans-serif;
}

body {
  transition: padding-right 0.3s ease; 
}



h1 {
  margin: 0;
  color: rgb(46, 63, 59);
}

h2 {
  color: rgb(46, 63, 59);

}

a {
text-decoration: none;

}
td, th {
font-size: 20px;
height: 40px;
text-align: right;
width: auto;
padding-left: 10px;
padding-right: 10px;
text-align: center;
border-bottom: 1px solid;
border-top: 1px solid;


}

.td_button {
border-left: 1px solid black;
padding-left: 2px;
text-align: left;
font-size: 20;
color: rgba(255, 0, 0, 0.897);


}

.left_td {
  border-left: 1px solid;
}

.left_td_button {
  border-right: 1px solid black;
  padding-right: 6px;
  text-align: right;
  

}
.left_td_button button {
  background-color: white;
  border: 0;
}

.td_button, .left_td_button{
border-top-color: white;
border-bottom-color: white;
background-color: white;

}
.delete_item {
font-size: 20;
color: rgba(255, 0, 0, 0.897);

}

.form_input {
  background-color: rgba(198, 230, 235, 0.308);
  border: 1px dashed rgb(0, 0, 0);
}
/*                                    check table                                        */


.order_info_table {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.order_info_table_table {
  
  display: flex;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrollbar */


}
.order_info_table table {
width: 100%;
margin-left: 9%;
margin-right: 4%;
background-color: rgba(133, 184, 250, 0.199);

}

.order_submit_buttons {
padding-top: 20px;
margin-right: 8%;
padding-right: 7px;
margin-left: 9%;
display: flex;
justify-content:space-between;

}



.order_info_table input[type=number] {
max-width: 110px;
}

/*                                    items_container                                        */

.categories_contaner {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 20px;

}
.items_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 0;
  row-gap: 25px;
  column-gap: 10px;
  justify-content:start;

}
.category_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.card , .card li{
  background-color: rgba(250, 235, 215, 0.288);
  padding-left: 15px;
  padding-right: 15px;
}

.item_number {
display: flex;
justify-content: space-around;
}
.item_number input {
  width:100px;
  text-align:center;
  padding-left: 10px;
}

.item_number input::placeholder{
  text-align:center;

}

.customer_choice_field {
text-align: center;
background-color: antiquewhite;
}

.order_rank {
display: grid;
grid-template-columns: auto auto;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;

}




.users_list input{
  background-color: antiquewhite;
  min-width: 400px;
  min-height: 50px;
}

.error {
display: grid;
grid-template-columns: auto;

justify-content: center;
text-align: center;
padding-top: 20px;
padding-bottom: 10px;
margin-left: 15%;
margin-right: 15%;
background-color: aliceblue;
color: rgba(5, 31, 80, 0.747);
width: auto;
}

.error h1 {
  margin-bottom: 10px;
}
.error h2 {
  margin-bottom: 18px;
  color: crimson;
}
.error .submit_button {
margin-left: 20px;
margin-right: 20px;
}

.red {
color: red;
}

.blue {
color:rgb(48, 82, 82);
font-weight: 900;
}
/*                            display_users_body                            */
.display_users_body {
  display:grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding-top: 25px;
  padding-left: 40px;

}
  
.display_users ul{
  padding: 0;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  text-align: right;



}
.display_users h2{
  text-align: center;
  margin-bottom: 10px;

}
.display_users hr {
  border-top-width: 5px;
  border-top-style: dashed;
  width: 80%;
  margin-left: auto;  
  margin-right: auto;  
}

.display_users ul li input{
  width: 100%;
}
.input_search:focus{
  outline: none;
}
.input_search {
  text-align: center;

}
/*                                                                                                   */
.table_left.container_order_id_link{
  position: relative;
  width: auto;
}
.order_id_link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

/*                                  creatin item                                    */
.create {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/*                                  user_orders_table                                    */

#user_orders_table td, #user_orders_table tr{
  line-height: 35px;
}

.table_left {
  width: 10%;
}
.table_mid_left {
  width: 40%;
}
.table_mid_right {
  width: 25%;
}
.table_right {
  width: 25%;
}
.month td:hover,
.year td:hover,
.category_header:hover{
  background-color: rgba(240, 248, 255, 0.705);
  cursor: pointer;
}

/*                                                                                        */
/*                                    script                                           */
#users_search li {
  opacity: 0;
  transform: translateY(-15px);
  transition: opacity 0.5s, transform 0.5s;
}

#users_search li.show {
  opacity: 1;
  transform: translateY(0);
}
/*                                                                                        */

.breadcrumb {
  justify-content: flex-end;
  font-size: larger;
}


/*                         creating                          */

.creating_item {

  h1 {
    text-align: center;
    font-style: oblique;
  }

  hr {
    margin-bottom: 25px;

  }
  .card{ 
    width:400px;
    border-radius: 20px;
    border-color: rgb(87, 172, 206);
    border-style:dashed;
    border-left-style: ridge;
    border-right-style: ridge;
    background-color: rgba(189, 247, 225, 0.459);
  }

  .form-control, .form-select {
      margin-top: 10px;
      margin-bottom: 16px;
      height: 48px;
      border: 2px solid #eee;
      border-radius: 10px;
      text-align: right;
      font-size: 18px;
  }
  .form-control:focus {
      box-shadow: none;
      border: 2px solid rgb(87, 172, 206);
  }

  .form_label {
      font-size: 20px;
      margin-right: 4px;
      text-align: right;
  }
  .form_button {
    text-align: center;
    margin-top: 40px;
  }

}

.alert-danger, .alert-success {
  justify-content: center;
  font-size: 24px;
}

/*                         endcreating                          */

.months_link_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px 20px;
  justify-content: center;

  li a {
    background-color: rgba(93, 173, 226, 0.7);
    font-size: 40px;
    text-align: center;
    color: beige;
    padding: 10px;
    padding-right: 8px;
    border: 2px ;
    border-radius: 5px;
    border-style: outset;
  }
  li a:hover {
    background-color: rgb(62, 197, 255);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  }
  li a:active {
    background-color: rgb(0, 177, 255);
  }


}
.months_link_div {
  padding: 20px;
  padding-top: 0;
  h2 {
    margin-bottom: 30px;
    font-size: 40px;
  }
}

.login_form_div {
  width: 70%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  form {
    display: flex;
    flex-direction: column;
    gap: 20px ;
    .button_form {
      display: flex;
      justify-content: center;

    }
    button {
      width: 150px;
    }
  
  }
}