{% extends "main/layout.html" %}

{% block body %}

    {% if err %}
    <div class="alert alert-danger d-flex alert-warning alert-dismissible fade show" role="alert" style="justify-content: center">

        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div style="font-size: 22px;">
        {{ err }}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        
    </div>

    {% endif %}

{% if not order.is_done %}
    <nav style="--bs-breadcrumb-divider: '<';" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">أضافة قسط للطلب</li>
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'main:coming_order_info' order.id %}">{{ order.id }} طلبية رقم </a></li>
            <li class="breadcrumb-item"><a href="{% url 'main:store_coming_info' order.customer.id %}">طلبيات الفرع</a></li>
            <li class="breadcrumb-item"><a href="{% url 'main:user' order.customer.id %}">{{ order.customer.name }} </a></li>
            <li class="breadcrumb-item"><a href="{% url 'main:users' %}">العملاء والطلبات</a></li>
        </ol>
      </nav>
      
  
    {% if not order.is_fully_paid %}
        <div class="alert alert-success d-flex alert-dismissible fade show" role="alert" style="justify-content: center">

            <svg class="bi flex-shrink-0 me-2" width="30" height="30" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div style="font-size: 22px;">
            {{ order.rest_money }} بالفعل عليه اقساط بقيمة {{ order.customer.name }} الطلبية رقم {{ order.id }} للفرع 
            </div>

            
        </div>
        <div style="text-align: center; ">
            <a  style="display:block;" class="submit_button link_a " href="{% url 'main:coming_change_rest' %}?order_id={{ order.id }}"> يمكنك الدفع من هنا</a>
        </div>

    {% else %}


        <div class="alert alert-primary d-flex  alert-dismissible fade show" role="alert" style="justify-content: space-between">

            <svg class="bi flex-shrink-0 me-2" width="30" height="30" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <div style="font-size: 22px;">
            {{ order.customer.name }} انت علي وشك اضافة قسط للطلب رقم {{ order.id }} للفرع 
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            
        </div>


        <div class="container mt-5 mb-5 d-flex justify-content-center creating_item">
            <div class="card">
                <div class="card-body">
                    <h1>{{ order.customer.name }} </h1>
                    <hr>
                    <h1>{{ order.id }} الطلبية</h1>
                    <hr>
                    <h1>{{ order.total_order_price }} الاجمالي</h1>
                    <hr>
                    <form action="{% url 'main:coming_put_rest' %}?order_id={{ order.id }}" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="form_label">
                                <label>: قيمة القسط</label>
                            </div>
                            <input class="form-control" type="number" name="rest_money" min="0" max="{{ order.total_order_price }}" required>
                        </div>


                        <div class="form_button">
                        <button type="submit" class="btn btn-outline-success">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% endif %}
{% else %}

    <div class="alert d-flex alert-warning alert-dismissible fade show" role="alert" style="justify-content: center">

        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div style="font-size: 22px;">
        لا يمكن اضافة اقساط للطلب {{ order.id }} لانه طلب مغلق بالفعل
        </div>
        
    </div>

{% endif %}
{%endblock%}
