{% extends "main/layout.html" %}
{% load static %}

{% block body %} 
<nav style="--bs-breadcrumb-divider: '<';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">{{ order.id }} طلبية رقم </li>
      <li class="breadcrumb-item"><a href="{% url 'main:store_coming_info' order.customer.id %}">طلبيات الفرع</a></li>
      <li class="breadcrumb-item"><a href="{% url 'main:user' order.customer.id %}">{{ order.customer.name }} </a></li>
      <li class="breadcrumb-item"><a href="{% url 'main:users' %}">العملاء والطلبات</a></li>
  </ol>
</nav>


<div class="order_info_table">

  <div class="order_info_table_table">
    
    <table class="caption-top" style="
    margin-left: 0;
    margin-top: 40px;
    margin-right: 2%;
    ">

    {% if not order.is_fully_paid %}
      <caption style="text-align: right; margin-right:5% ;" id="rest_money">
        <a href="{% url 'main:coming_change_rest' %}?order_id={{ order.id }}" style="color: crimson;">{{ order.rest_money }} : لم يتم دفعه</a>
      </caption>
    {% endif %}


      <thead>
        <tr>
          <th class="left_td_button"></th>
          <th>سعر الطلبية</th>
          <th colspan="2">التوقيت</th>
          <th >رقم الطلب</th>
          <th>المورد</th>
          <th>الفرع</th>
          <th class="td_button"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left_td_button"></td>
          <td>{{ order.total_order_price }}</td>
          <td colspan="2">{{ order.created_at|date:"d M" }} {{ order.created_at|time:"g:i A" }}</td>
          <td >{{ order.id }}</td>
          <td>
            <a href="{% url 'main:supplier_coming_info' order.supplier.id %}" style="color: rgba(35, 84, 177, 0.863);">{{ order.supplier.name }}</a>
          </td>
          <td>
            <a href="{% url 'main:user' order.customer.id %}" style="color: rgba(35, 84, 177, 0.863);">{{ order.customer.name }}</a>
          </td>
          <td class="td_button"></td>
        </tr>

        <tr>
          <td class="left_td_button"></td>
          <td>&#8645;</td>
          <td colspan="2">.</td>
          <td colspan="2">.</td>
          <td>.</td>
          <td class="td_button"></td>
        </tr>
        {% if order_items %}
        <tr>
          <td class="left_td_button"></td>
          <td>السعر الاجمالي</td>
          <td >الكميه</td>
          <td >سعر الشراء</td>
          <td>سعر بيع الجملة</td>
          <td>سعر بيع القطاعي</td>
          <td>المنتج</td>
          <td class="td_button"></td>
        </tr>
        {% else %}
        <tr>
          <td class="left_td_button"></td>
          <td colspan="6" style="color: crimson; font-weight: bold; border: 1px solid black;">طلب غير مستخدم</td>
          <td class="td_button"></td>
        </tr>

        {% endif %}

          {% for order_item in order_items %}

          <form action="{% url 'main:edit_coming_item' order_item.id%}" method="post">
            {% csrf_token %}
            <tr>
              {% if not order.is_done %}
              <td class="left_td_button"><button type="submit">&#9997;</button></td>
              <td>{{ order_item.total_real_price }}</td>
              <td>
                <input type="number"
                name="quantity_{{ order_item.id }}"
                value="{{ order_item.quantity }}"
                min="0"
                required class="form_input">
              </td>
              <td>
                <input type="number" 
                step="0.01" 
                min="0"
                name="real_{{ order_item.id }}" 
                value="{{ order_item.single_real_price }}"
                required class="form_input">
                
              </td>

              <td>
                <input type="number" 
                step="0.01" 
                min="0"
                name="gomla_{{ order_item.id }}" 
                value="{{ order_item.single_gomla_price }}"
                required class="form_input">
              </td>

              <td>
                <input type="number" 
                step="0.01" 
                min="0"
                name="market_{{ order_item.id }}" 
                value="{{ order_item.single_market_price }}"
                required class="form_input">
              </td>

              <td>{{ order_item.item.name }}</td>
              <td class="td_button">
                <a data-id={{ order_item.id }} href="{% url 'main:delete_coming_item' order_item.id %}" class="delete_item">X</a>
              </td>

              {% else %}
              <td class="left_td_button"></td>
              <td>{{ order_item.total_real_price }}</td>
              <td>
                {{ order_item.quantity }}
              </td>
              <td>
                {{ order_item.single_real_price }}
              </td>

              <td>
                {{ order_item.single_gomla_price }}
              </td>

              <td>
                {{ order_item.single_market_price }}
              </td>

              <td>{{ order_item.item.name }}</td>
              <td class="td_button">
              </td>


              {% endif %}

    
            </tr>

          </form>

          {% endfor %}
      </tbody>
    </table>

  </div>


    

    <div class="order_submit_buttons" style="
    margin-right: 5%;
    margin-left: 7%;
    ">
      {% if not order.is_done %}
      <a href="{% url 'main:delete_coming_order' order.id %}" class="submit_button btn btn-outline-danger" style="background-color: white; color: #ea433b;">حذف</a>
      {% if order_items %}
      <a href="{% url 'main:done_coming_order' order.id %}" class="submit_button btn btn-outline-success" style="background-color: white; color: rgba(46, 204, 113, 0.9);">أنتهيت من التعديل ؟</a>
      {% if order.is_fully_paid %}
      <a href="{% url 'main:coming_put_rest' %}?order_id={{order.id}}" class="submit_button link_a ">أضافة قسط</a>
      {% endif %}

      {% endif %}

      <a href="{% url 'main:add_coming_items' order.id %}" class="submit_button link_a ">أضافة منتج</a>
      {% endif %}


    </div>
</div>

 
{% endblock %}
