{% extends "main/layout.html" %}

{% block body %}
<nav style="--bs-breadcrumb-divider: '<';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">منتج او نوع جديد</li>
      <li class="breadcrumb-item active" aria-current="page">الأضافات</li>
    </ol>
</nav>

{% if err_message %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
        {{ err_message }}
    </div>
  </div>  
  {% elif success_message %}
  <div class="alert alert-success d-flex align-items-center" role="alert" style="display: flex; justify-content: center;">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div style="font-size: 20px;">
      {{ success_message }}
    </div>
  </div>
{% endif %}

<div class="container mt-5 mb-5 d-flex justify-content-center creating_item">
    <div class="card">
        <div class="card-body">
            <h1>أضافة منتج جديد</h1>
            <hr>
            <form action="{% url 'main:create_item' %}" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <div class="form_label">
                        <label>: اسم المنتج</label>
                    </div>
                    {{ form.name }}
                </div>

                <div class="form-group">
                    <div class="form_label">
                        <label>: النوع</label>
                    </div>
                    {{ form.category }}
                </div>

                <div class="form-group">
                    <div class="form_label">
                        <label>: سعر الجملة</label>
                    </div>
                    {{ form.real_price }}
                </div>

                <div class="form-group">
                    <div class="form_label">
                        <label>: سعر البيع الجملة</label>
                    </div>
                    {{ form.gomla_price }}
                </div>

                <div class="form-group">
                    <div class="form_label">
                        <label>: سعر البيع القطاعي</label>
                    </div>
                    {{ form.market_price }}
                </div>

                <div class="form-group">
                    <div class="form_label">
                        <label>: الكميه الاساسية</label>
                    </div>
                    {{ form.stock_quantity }}
                </div>

                <div class="form_button">
                <button type="submit" class="btn btn-outline-success">تسجيل</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container mt-5 mb-5 d-flex justify-content-center creating_item">
    <div class="card">
        <div class="card-body">
            <h1>أضافة نوع جديد</h1>
            <hr>
            <form action="{% url 'main:create_category' %}" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <div class="form_label">
                        <label>: اسم النوع</label>
                    </div>
                    {{ category_form.name }}
                </div>


                <div class="form_button">
                <button type="submit" class="btn btn-outline-success">تسجيل</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
