{% extends "main/layout.html" %}
{% load static %}

{% block body %}
<nav style="--bs-breadcrumb-divider: '<';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">{{ order.id }} الطلب رقم</li>
    <li class="breadcrumb-item"><a href="{% url 'main:user' order.customer.id%}">{{ order.customer.name }} </a></li>
    <li class="breadcrumb-item"><a href="{% url 'main:users' %}">العملاء والطلبات</a></li>
  </ol>
</nav>

{% if message_edit %}
  <div class="alert alert-success d-flex align-items-center" role="alert" style="display: flex; justify-content: center;">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div style="font-size: 20px;">
      {{ message_edit }}
    </div>
  </div>
{% endif %}

<div class="order_info_table">

  <form action="{% url 'main:edit_order' order.id %}" method="post">
    {% csrf_token %}
    <div class="order_info_table_table">

      <table class="caption-top">
        {% if order_items %}
          <div>
            {% if order.rest_money %}
              <caption style="text-align: right; margin-right:5% ;" id="rest_money">
                <a href="{% url 'main:change_rest' %}?order_id={{ order.id }}" style="color: crimson;">{{ order.rest_money }} : لم يتم دفعه</a>
              </caption>
            {% endif %}
            <caption style="text-align: left;" id="discount_id" data-persent="{{order.discount}}">Discount: {{ order.discount }}%</caption>
            <caption style="text-align: left; display: none;" id="new_discount_caption">
              Discount: <input type="number" name="new_discount" id="new_discount_id" value="{{ order.discount }}" max="100" required>
            </caption>
          </div>
        {% endif %}


        <thead>
          <tr>
            <th class="left_td">اجمالي السعر</th>
            <th>التوقيت</th>
            <th>رقم الطلب</th>
            <th>التاجر</th>
            <th class="td_button"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left_td">
              <input type="number" name="total_order_price" value="{{ order.total_order_price }}" min=0 step="0.01" required>
            </td>
            <td>{{ order.created_at|date:"d M" }} {{ order.created_at|time:"g:i A" }}</td>
            <td>{{ order.id }}</td>
            <td>
              <a href="{% url 'main:user' order.customer.id %}" style="color: rgba(35, 84, 177, 0.863);">{{ order.customer.name }}</a>
            </td>
            <td class="td_button"></td>
          </tr>

          <tr>
            <td class="left_td">.</td>
            <td>.</td>
            <td>.</td>
            <td>.</td>
            <td class="td_button"></td>
          </tr>
          {% if order_items %}
          <tr>
            <td class="left_td">السعر الاجمالي</td>
            <td>الكميه</td>
            <td>سعر للقطعه</td>
            <td>المنتج</td>
            <td class="td_button"></td>
          </tr>
          {% else %}
          <tr>
            <td colspan="4" style="color: crimson; font-weight: bold; border: 1px solid black;">طلب غير مستخدم</td>
            <td class="td_button"></td>
          </tr>

          {% endif %}

            {% for order_item in order_items %}
              <tr>

                {% if order.is_gomla %}
                  <td class="left_td">{{ order_item.gomla_price }}</td>
                {% else %}
                  <td class="left_td">{{ order_item.market_price }}</td>
                {% endif %}

                <td>
                  <input type="number"
                          name="quantity_{{ order_item }}"
                          value="{{ order_item.quantity }}"
                          min="0"
                          onclick="updateMaxQuantity(this, {{ order_item.quantity }}, {{ order_item.item.quantity }})">
                </td>

                {% if order.is_gomla %}
                <td>{{ order_item.item.gomla_price }}</td>
                {% else %}
                <td>{{ order_item.item.market_price }}</td>
                {% endif %}
                  <td>{{ order_item.item.name }}</td>
                  <td class="td_button">
                    <a data-id={{ order_item.id }} href="{% url 'main:delete_order_item' order_item.id %}" class="delete_item">X</a>
                  </td>
      
              </tr>

            {% endfor %}
        </tbody>
      </table>

    </div>


    

    <div class="order_submit_buttons">

      <a href="{% url 'main:delete_order' order.id %}" class="submit_button btn btn-outline-danger" style="background-color: white; color: #ea433b;">حذف</a>

      {% if order.is_fully_paid %}
      <a href="{% url 'main:put_rest' %}?order_id={{order.id}}" class="submit_button link_a ">أضافة قسط</a>
      {% endif %}

      {% if order_items %}
      <a href="{% url 'main:change_rank' order.id %}" class="submit_button link_a">
        {% if order.is_gomla %}
        تحويل الي ماركت
        {% else %}
        تحويل الي جمله
        {% endif %}
      </a>
      {% endif %}

      <a href="{% url 'main:add_items' order.id %}" class="submit_button link_a ">أضافة منتج</a>

      {% if order_items %}
      <input type="submit" class="submit_button link_a" value="حفظ التعديل">
      {% endif %}


    </div>
  </form>
</div>


  <script src="{% static 'main/order_table.js' %}"></script>
 
{% endblock %}
