{% extends "main/stander_layout.html" %}
{% load static %}

{% block option %}
<a href="{% url 'main:users' %}" class="page_option_buttton" >العملاء والطلبات</a>
<a href="{% url 'main:make_order' %}" class="page_option_buttton">الصفحة الرئيسية</a>
<a href="{% url 'main:total_orders' %}" class="page_option_buttton" style="box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);">المبيعات</a>
{% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: '<';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"> المبيعات</li>
        </ol>
    </nav>

<!-- Main Line Chart -->
<div style="margin-top: 20px;">
    <canvas id="mainSalesChart" style="height: 450px;"></canvas>
</div><br>
<div style="display: flex; justify-content:center; text-align: right; font-size: 20px; ">
    <div class="card border-info mb-3" style="width: 87% ;background-color: white; padding-left: 0;">
        <div class="card-body" style=" display: grid; grid-template-columns: auto auto; padding-left: 0;">
            <div>
                <canvas id="donutChart" style="height: 250px; width: 250px;"></canvas>
            </div>
            <div style="font-family: Roboto arial;">

                <h5 class="card-title">&#8659; اجمالي المبيعات</h5>
                <p class="card-text  money" style="padding-right: 12%">{{ all_data.orders_sales }}</p>
                
                <h5 class="card-title">&#8659; متوسط سعر الطلب</h5>
                <p class="card-text  money" style="padding-right: 14%">{{ all_data.average_order }}</p>
                
                <h5 class="card-title">&#8659; اجمالي عدد الطلبات</h5>
                <p class="card-text  money" style="padding-right: 15%">{{ all_data.order_count }}</p>
                
                <h5 class="card-title">&#8659; اجمالي ربح</h5>
                <p class="card-text  money" style="padding-right: 6%">{{ all_data.total_profit }}</p>
                
                <h5 class="card-title">&#8659; الرصيد الآجل</h5>
                <p class="card-text  money" style="padding-right: 5%">{{ all_data.rest_money }}</p>
            </div>
        </div>
    </div>
</div>



<div class="accordion" id="accordionPanelsStayOpenExample">
    {% for year, months_info in years_info.items %}
    <div class="accordion-item" >
        <h2 class="accordion-header" id="panelsStayOpen-heading{{ year }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ year }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse{{ year }}">
                {{ year }}
            </button>
        </h2>
        <div id="panelsStayOpen-collapse{{ year }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{ year }}">
            <h1 style="text-align: center; margin-top: 30px; margin-bottom: 30px; ">
                <i class="fa-solid fa-chart-line fa-flip-horizontal" style="color: #003ca3;"></i>
                 خلال سنة {{ year }}
            </h1>
            <div class="accordion-body" style="display: grid; grid-template-columns: 70% 23%; column-gap: 7%;">
                <div>
                    <!-- Chart will be rendered here -->
                    <canvas id="salesChart{{ year }}"></canvas>
                </div> 

                <div>
                    <ul class="list-group list-group-flush" style="text-align: right; font-family: Roboto arial; font-size: 19px;">
                        <li class="list-group-item  ">{{ months_info.order_count }}  عدد الطلبات </li>
                        <li class="list-group-item"></li>
                        <br>

                        <li class="list-group-item  ">{{ months_info.orders_sales }}  اجمالي مبيعات </li>
                        <li class="list-group-item"></li>
                        <br>

                        <li class="list-group-item  ">{{ months_info.average_order }}  متوسط سعر الطلب</li>
                        <li class="list-group-item"></li>
                        <br>

                        <li class="list-group-item  ">{{ months_info.debt }} اجمالي الآجل من المبيعات </li>
                        <li class="list-group-item"></li>
                        <br>

                        <li class="list-group-item  ">{{ months_info.profit }}  اجمالي الربح من المبيعات </li>
                        <li class="list-group-item"></li>
                        <br>

                        <li class="list-group-item  ">{{ months_info.coming_sales }}  اجمالي سعر الطلبيات</li>
                        <li class="list-group-item"></li>
                        <br>

                        <li class="list-group-item  ">{{ months_info.coming_debt }}   اجمالي آجل للطلبيات</li>
                        <li class="list-group-item"> </li>
                        <li class="list-group-item"> </li>
                    </ul>
                </div>
            </div>
            <div class="months_link_div">

                <h2 style="text-align: center"> تفاصيل الشهور</h2>
                <ul class="months_link_list">
                {% for month in months_info.months %}
                    <li>
                        <a href="{% url 'main:month_sales' %}?m={{month}}&y={{year}}">{{ month }}</a>
                    </li>
                {% endfor %}
                </ul>
                
            </div>
    
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {

    ///////////////////////////////// main line /////////////////////////////////

    var ctxMain = document.getElementById('mainSalesChart').getContext('2d');
    var mainSalesChart = new Chart(ctxMain, {
        type: 'line',
        data: {
            labels: [{% for year, sales in all_data.years_sales.items %}"{{ year }}", {% endfor %}],
            datasets: [{
                label: 'الربح',
                backgroundColor: 'rgba(46, 204, 113, 0.2)',
                borderColor: 'rgb(46, 204, 113)',
                borderWidth: 2,
                pointRadius: 5,
                pointBackgroundColor: 'rgb(46, 204, 113)',
                data: [{% for year, profit in all_data.years_profit.items %}{{ profit }}, {% endfor %}],
                hidden: false
            }, {
                label: 'متوسط سعر الطلب',
                backgroundColor: 'rgba(52, 73, 94, 0.2)',
                borderColor: 'rgb(52, 73, 94)',
                borderWidth: 2,
                pointRadius: 5,
                pointBackgroundColor: 'rgb(52, 73, 94)',
                data: [{% for year, avg in all_data.years_averages.items %}{{ avg }}, {% endfor %}],
                hidden: false
            }, {
                label: 'المبيعات',
                backgroundColor: 'rgba(93, 173, 226, 0.2)',
                borderColor: 'rgb(93, 173, 226)',
                borderWidth: 2,
                pointRadius: 5,
                pointBackgroundColor: 'rgb(93, 173, 226)',
                data: [{% for year, sales in all_data.years_sales.items %}{{ sales }}, {% endfor %}],
                hidden: false
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        callback: function(value, index, values) {
                            return 'EGP' + value; // Add currency symbol
                        }
                    }
                }
            },
            responsive: true,
            maintainAspectRatio: false, // Ensure the chart maintains aspect ratio while resizing
            plugins: {
                title: {
                    display: true,
                    text: 'المبيعات الكلية', // Chart title
                    font: {
                        size: 20,
                        weight: 'bold'
                    }
                },
                legend: {
                    display: true,
                    labels: {
                        font: {
                            size: 16
                        }
                    },
                }
            }
        }
    });


    ///////////////////////////////// main donut /////////////////////////////////
    
    var ctxDonut = document.getElementById('donutChart').getContext('2d');
    var donutChart = new Chart(ctxDonut, {
        type: 'doughnut',
        data: {
            labels: ['اجمالي الربح', 'الرصيد الآجل'],
            datasets: [{
                label: 'Donut Chart',
                data: [{{ all_data.total_profit }}, {{ all_data.rest_money }}],
                backgroundColor: [
                'rgba(46, 204, 113, 0.3)',
                'rgba(229, 57, 53, 0.4)'
                ],
                borderColor: [
                'rgba(46, 204, 113, 1)',
                'rgba(229, 57, 53, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'اجمالي الربح و الرصيد الآجل',
                    font: {
                        size: 20,
                        weight: 'bold'
                    }
                },
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                        font: {
                            size: 16
                        }
                    }
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 50,
                    top: 0,
                    bottom: 0
                }
            },
            responsive: true,
            maintainAspectRatio: false
        }
    });

    ///////////////////////////////// years bars /////////////////////////////////

        {% for year, months_info in years_info.items %}
        var ctx{{ year }} = document.getElementById('salesChart{{ year }}').getContext('2d');
        var salesChart{{ year }} = new Chart(ctx{{ year }}, {
            type: 'bar',
            data: {
                labels: [{% for month, data in months_info.months_sales.items %}{{ month }},{% endfor %}],
                datasets: [{
                    label: 'مبيعات - {{ year }}',
                    backgroundColor: [
                    'rgba(93, 173, 226, 0.4)',
                    ],
                    borderColor: [
                    'rgba(93, 173, 226, 0.9)',
                    ],
                    borderWidth: 1,
                    data: [{% for month, data in months_info.months_sales.items %}{{ data.orders_sales }},{% endfor %}]
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                maintainAspectRatio: false // Ensure the chart maintains aspect ratio while resizing
            }
        });

    {% endfor %}


    ///////////////////////////////// script /////////////////////////////////



    });
</script>


<script>

    document.querySelectorAll('.accordion-button')[0].click()

    document.querySelectorAll('.money').forEach(number => {

            money = Number(number.innerHTML)

            if ( (money / Math.pow(10, 9)) >= Number(1) ) {

                money = (money / Math.pow(10, 9)).toFixed(2)
                number.innerHTML = `${money}B`
            }
            else if ( (money / Math.pow(10, 6)) >= Number(1) ) {

                money = (money / Math.pow(10, 6)).toFixed(2)
                number.innerHTML = `${money}M`
            }
            else if ( (money / Math.pow(10, 3)) >= Number(1) ) {

                money = (money / Math.pow(10, 3)).toFixed(2)
                number.innerHTML = `${money}K`
            }
    })


</script>

{% endblock %}
