{% extends "main/layout.html" %}

{% block body %}
<nav style="--bs-breadcrumb-divider: '<';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">{{item.name}}</li>
      <li class="breadcrumb-item active" aria-current="page">المنتجات</li>
      <li class="breadcrumb-item active" aria-current="page">الأضافات</li>
    </ol>
</nav>

{% if err_message %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
        {{ err_message }}
    </div>
  </div>  
{% elif success_message %}
  <div class="alert alert-success d-flex align-items-center" role="alert" style="display: flex; justify-content: center;">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div style="font-size: 20px;">
      {{ success_message }}
    </div>
  </div>
{% endif %}

<div class="container mt-5 mb-5 d-flex justify-content-center creating_item">
    <div class="card">
        <div class="card-body">
            <h1 lang="ar" dir="rtl"> تعديل {{ item.name }}</h1>
            <hr>
            <form action="{% url 'main:update_item' item.id %}" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <div class="form_label">
                        <label>: اسم المنتج</label>
                    </div>
                    <input class="form-control" type="text" name="name" value="{{ item.name }}" required>
                </div>

                <div class="form-group">
                    <div class="form_label">
                        <label>: سعر الجملة</label>
                    </div>
                    <input class="form-control" type="number" name="real_price" min="0" step="0.01" value="{{ item.real_price }}" required>
                </div>

                <div class="form-group">
                    <div class="form_label">
                        <label>: سعر البيع الجملة</label>
                    </div>
                    <input class="form-control" type="number" name="gomla_price" min="0" step="0.01" value="{{ item.gomla_price }}" required>
                </div>

                <div class="form-group">
                    <div class="form_label">
                        <label>: سعر البيع القطاعي</label>
                    </div>
                    <input class="form-control" type="number" name="market_price" min="0" step="0.01" value="{{ item.market_price }}" required>
                </div>


                <div class="form_button">
                <button type="submit" class="btn btn-outline-success">حفظ التعديل</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
