{% extends "main/stander_layout.html" %}
{% load static %}

{% block option %}
<a href="{% url 'main:users' %}" class="page_option_buttton" style="box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);">العملاء والطلبات</a>
<a href="{% url 'main:make_order' %}" class="page_option_buttton" >الصفحة الرئيسية</a>
<a href="{% url 'main:total_orders' %}" class="page_option_buttton">المبيعات</a>
{% endblock %}
{% block body %}
    <nav style="--bs-breadcrumb-divider: '<';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"> العملاء والطلبات</li>
        </ol>
    </nav>
  
  
    <div class="display_users_body">
 
        <div class="display_users" >

            <ul style="line-height:350%; list-style-type:none; justify-content: start;">
                <form action="{% url 'main:users' %}" method="post">
                    {% csrf_token %}
                    <li>
                        <input class="input_search" type="number" name="order_id" min=0 placeholder="اختر الطلب برقمه الخاص" >
                        <input value="" type="hidden" name="customer_id">
                    </li>
                </form>
        
                {% for order in orders %}
                <li>
                    <a dir="rtl" lang="ar" class="submit_button" href={% url 'main:order_info' order.id %}>
                        {{order.id}}# للعميل {{ order.customer.name }} بتوقيت {{ order.created_at }}
                        {% if order.is_fully_paid %}
                        <i class="fa-regular fa-circle-check"></i>
                        {% else %}
                        <i class="fa-regular fa-circle-xmark"></i>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        
            </ul>
        
        </div>

        <div class="display_users" >
            
            <ul style="line-height:350%; list-style-type:none; justify-content: center;">
                <form action="{% url 'main:users'  %}" method="post">
                        {% csrf_token %}
                    <li>
                        <input class="input_search" type="text" name="customer_id" id="customer_search" min=0 placeholder="اختر العميل برقمه الخاص">
                        <input value="" type="hidden" name="order_id">

                    </li>
                    <div id="users_search">
                    </div>

                </form>


                {% for customer in customers %}
                    <li>
                        {% if customer.is_shop %}
                        <a dir="rtl" lang="ar" class="submit_button" href={% url 'main:user' customer.id %}><i class="fa-solid fa-certificate"></i> {{ customer.name }}</a>
                        {% else %}
                        <a dir="rtl" lang="ar" class="submit_button" href={% url 'main:user' customer.id %}>{{ customer }}</a>
                        {% endif %}
                    </li>
                {% endfor %}

            </ul>

        </div>

    </div>

    <script src="{% static 'main/users_search.js' %}"></script>



{%endblock%} 