{% extends "main/layout.html" %}
{% load static %}

{% block body %}
<nav style="--bs-breadcrumb-divider: '<';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">أضافة منتج للطلبية </li>
    <li class="breadcrumb-item"><a href="{% url 'main:order_info' order.id %}">{{ order.id }} الطلب رقم</a></li>
    <li class="breadcrumb-item"><a href="{% url 'main:user' order.customer.id %}">{{ order.customer.name }} </a></li>
    <li class="breadcrumb-item"><a href="{% url 'main:users' %}">العملاء والطلبات</a></li>
  </ol>
</nav>

  {% if not items_object %}
  <div class="error" style="background-color: aliceblue;">

    <h1 style="color: rgba(5, 31, 80, 0.747);">ليس هناك ما يمكن اضافته لللطلب رقم 
      <a href="{% url 'main:order_info' order.id %}" class="red">{{ order.id }}</a>
    </h1>
    <div class="home_submit_button">
      <a href="{% url 'main:order_info' order.id %}" class="submit_button"><strong>الرجوع للطلبية</strong></a>
    </div>
  
  </div>


  {% else %}

  <form action="{% url 'main:add_items' order.id %}" method="post">
    <div class="categories_contaner">
      {% csrf_token %}

      {% for category, items in items_object.items  %}
      <div>
        <ul class="list-group">
          <li class="category_header list-group-item list-group-item-light" data-code="{{category}}">
            <span>{{category}}</span>
            
            <span class="toggle-icon" data-toggle="{{category}}">
              <i class="fa-solid fa-angle-down"></i>
          </span>
 
          </li>
        </ul>
      </div>
      <div id="{{category}}" class="items_container"> 
        {% for item in items  %}


          <div class="card" style="">

            <div class="card-body" style="padding: 10px;">
              <h5 class="card-title" style="text-align: right; font-weight: bold;">{{ item.name }}</h5>
            </div>

            <ul class="list-group list-group-flush" >
              <li class="list-group-item">السعر : {{ item.market_price }}</li>
              <li class="list-group-item">الجملة : {{ item.gomla_price }}</li>

              <div class="item_number"><input type="number" class="input_card" name="quantity_{{ item.id }}" placeholder="الكمية" value=0 min=0 max={{ item.quantity }}></div>
            </ul>
            
            <div class="card-footer" style="text-align: right;">
              <small class="text-muted stock" data-quantity="{{ item.quantity }}">المخزون: {{ item.quantity }}</small>
            </div>
        
          </div>


        {% endfor %}
      </div>
      {% endfor %}
        
    </div>

                  
      </div>
      <div class="makeorder_submit_button">
          <button class="submit_button">اضافة للطلب رقم {{ order.id }}</button>
      </div>

  
    </form>
  {% endif %}
    
  


 {% comment %} ################################################################################################## {% endcomment %}



 <script src="{% static 'main/make.js' %}"></script>

 <script>
   document.querySelectorAll('.category_header').forEach(category => {
     category.addEventListener('click', hide_category);
   })
   
   function hide_category() {
     var icon = document.querySelector(`.toggle-icon[data-toggle="${this.dataset.code}"] i`);
     category_block = document.querySelector(`#${this.dataset.code}`)
     if(category_block.style.display != "none") {
       category_block.style.display = "none";
       icon.classList.remove("fa-angle-down");
       icon.classList.add("fa-angle-up");

     }
     else {
       category_block.style.display = "flex";
       icon.classList.remove("fa-angle-up");
       icon.classList.add("fa-angle-down");

       
     }
   }
 </script>
{%endblock%}