 {% extends "main/layout.html" %}

{% block body %}

    <div class="error">

        <h1>للاسف تعرضت الي عطلا ما </h1>
        <h2>{{message}}<h2>
        {% if message2%}
        <a href="{% url 'main:users' %}" class="submit_button btn btn-outline-info" style="background-color: white;">{{message2}}</a>
        {% comment %} <input type="submit" class="submit_button btn btn-outline-danger" style="background-color: white; color: #ea433b;" value="حذف"> {% endcomment %}

        {% elif message3%}
        <a href="{% url 'main:user' user_id %}" class="submit_button">{{message3}}</a>
        {% elif message4%}
            {{message4}}
        {% elif message5%}
        {{message5}}

        {% endif %}

        </div>

{%endblock%}
